<!DOCTYPE html>

<html ng-app="teamblog">
<head>
    <title>title</title>

    <link href="@Url.Content("~/Content/angular-material.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />

    
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery/jquery-1.6.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-signalr/jquery.signalR-2.2.1.js")"></script>

    <script type="text/javascript" src="@Url.Content("/Scripts/angular/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/angular-animate/angular-animate.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/angular-aria/angular-aria.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/angular-material/angular-material.js")"></script>


    @*<script src="@Url.Content("~/signalr/hubs.js")"></script>*@
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/root.js")"></script>
</head>
<body ng-cloak>
<div>  
    <div layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools"  ng-controller="user-profile">
                <span>Logged to TEAMBLOG as {{login}}</span>
                <!-- fill up the space between left and right area -->
                <span flex></span>
                
                
                <md-button class="md-fab md-mini" ng-click="$toggleUser()">
                    T
                </md-button>

                <!--a is a hack so the menu works -->
                <md-button class="md-fab md-mini" md-menu-origin
                           ng-if="anyNotifications"
                           ng-click="$mdOpenMenu($event)">
                    {{notfsCount}}
                    <md-tooltip md-direction="bottom">
                        Show only unseen posts
                    </md-tooltip>
                </md-button>
                      
            </div>
        </md-toolbar>
        <md-content layout-fill layout="column" layout-align="start center" ng-controller="posts">
            <div ng-repeat="post in posts">
                <md-card>
                    <md-card-header>
                        {{post.AddedBy}} on {{post.Timestamp}} in {{post.Channels.join(", ")}}
                    </md-card-header>
                    <md-card-content>
                        {{post.Content}}
                    </md-card-content>
                </md-card>
            </div>
        </md-content>
        
        <div ng-controller="new-posts">
            <md-fab-speed-dial style="position: fixed"
                               md-direction="up"
                               md-open="false"
                               class="md-fab-bottom-right md-scale">
                <md-fab-trigger>
                    <md-button class="md-fab md-warn">
                        +
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button class="md-fab md-raised md-mini">
                        A
                        <md-tooltip md-direction="left">
                            New link
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-raised md-mini" ng-click="showNewPostsDialog($event)">
                        B
                        <md-tooltip md-direction="left">
                            New post
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-raised md-mini">
                        C
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </div>
</div>
</body>
</html>